$grey : #707070;
$light-grey :   #f2f2f2;
$mid-grey:		#aaa;
$black:         #000;
$white:         #fff;
$light-black: rgba(0, 0, 0, 0.8);
$dark-coffee:	#231f1f;
$blue:          #5397d0;
$oil:           #325863;
$link:         $grey;
$link-active: $blue;
$blue-sticky-menu:  rgba(34, 51, 66, 0.90);
$black-sticky-menu: rgba(0, 0, 0, 0.70);
$machine-cream: #AFABA0;
$machine-brown: #68544F;
$machine-black: #141414;
$sepia: #A75F41;
$green: #768355;
$green-dark: #4d5737;
$green-light: #dde5be;
$blackcurrant: #3A2D3E;
$red: #A75F41;